{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}

    <a href="{{ path('quack_new') }}" class="float-right" title="Add a quack"><img src="/img/picto/addQuack.png" alt="Add a new quackversation" width="40" height="40"></a>
    <h1>Quack flow </h1>
{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Content</th>#}
{#                <th>Created_at</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
        {% for quack in quacks %}

{#            <div class="card text-white mb-3" style="max-width: 20rem;">#}
            <div class="card mb-3 w-75 mx-auto">
                <a href="{{ path('quack_show', {'id': quack.id}) }}">
    {#                <div class="card-header bg-warning"><a href="{{ path('quack_show', {'id': quack.id}) }}">{{ quack.content }}</a></div>#}
                    <div class="card-body bg-success">
    {#                    <h4 class="card-title">Warning card title</h4>#}
                        <p class="card-text">{{ quack.content | raw }}</p>
                    </div>
                    <div class="card-footer bg-warning">ecrit le : {{ quack.createdAt | date('d/m/Y') }} à {{ quack.createdAt | date('H:i') }}</div>
                </a>
            </div>
{#            <tr>#}
{#                <td><a href="{{ path('quack_show', {'id': quack.id}) }}">{{ quack.content }}</a></td>#}
{#                <td>{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('quack_show', {'id': quack.id}) }}">show</a>#}
{#                    <a href="{{ path('quack_edit', {'id': quack.id}) }}">Edit</a>#}
{#                    <a href="{{ path('quack_edit', {'id': quack.id}) }}">x</a>#}
{#                </td>#}
{#            </tr>#}
        {% else %}
{#            <tr>#}
{#                <td colspan="4">no records found</td>#}
                <td colspan="4">no records found</td>
{#            </tr>#}
        {% endfor %}
{#        </tbody>#}
{#    </table>#}

{% endblock %}
